# binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# build directories
/build/
/dist/
/out/

# test binary, built with `go test -c`.
*.test

# go workspace files.
go.work
go.work.sum

# environment file.
.env

# lock files
/deno.lock
/go.sum
